/* follow pattern! */
.account-content {
  height: 100%;
  width: 100%;
  padding-inline: 1rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
/* // */

.account-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.title {
  color: black;
  font-size: clamp(1rem, 1.5vw, 1.25rem);
  font-weight: 400;
  font-family: "Economica", sans-serif;
}

/* top barchart */
.account-top-barchart {
  width: 100%;
  padding: 1rem;
}

.accounts-body {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 1.5rem;
}

/* account form */
.add-account-container {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.add-account-form {
  margin-top: 10%;
  width: clamp(12rem, 25vw, 20rem);
  padding: 1.5rem;
  border: 1px solid #000000;
  border-radius: 8px;
  background-color: #ffffff;
}

.add-account-form-title {
  font-family: "Economica", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  text-align: center;
}

.add-acount-fields {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

.add-account-label {
  margin-bottom: 0.25rem;
  font-size: clamp(0.9rem, 1vw, 1rem);
  font-family: "Economica", sans-serif;
  font-weight: 300;
}

.add-account-input {
  background-color: #f2e9e4;
  margin-bottom: 0.1rem;
  padding: 0.3rem;
  border: 1px solid #f2e9e4;
  border-radius: 5px;
  font-weight: 300;
}

.add-account-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

.add-account-save-button {
  background-color: #7fb069;
  border: 1px solid #7fb069;
  border-radius: 5px;
  width: 35%;
  padding: 0.25rem;
}

.add-account-cancel-button {
  background-color: #d57853;
  border: 1px solid #d57853;
  border-radius: 5px;
  width: 35%;
  padding: 5px;
}

.error-message {
  color: red;
  font-size: 0.9rem;
  font-family: "Economica", sans-serif;
  font-weight: 300;
  margin-top: 0.5rem;
  text-align: center;
}

/* account delete confirmation message */
.delete-account-total {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.delete-account-container {
  background-color: #f8d7da;
  border-radius: 10px;
  width: 15%;
  padding: 1rem;
}

.delete-account-message {
  font-size: clamp(0.9rem, 1vw, 1rem);
  font-weight: 300;
  text-align: center;
  color: #94303a;
  margin-bottom: 0.8rem;
}

.delete-account-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 0.25rem;
}

.delete-account-button {
  background-color: #ac9d9d;
  border: none;
  border-radius: 5px;
  padding: 0.25rem 0.5rem;
  color: white;
  font-family: "Economica", sans-serif;
  font-weight: 200;
  cursor: pointer;
  font-size: clamp(0.8rem, 1vw, 0.9rem);
}
@media (max-width: 768px) {
  .accounts-body {
    grid-template-columns: 50% 50%;
  }
}
