.card-total {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.125rem;
  border-radius: 12px;
  background-color: #f3f1e9cd;
  box-sizing: border-box;
  height: 100%;
  transition: box-shadow 0.5s ease-in-out;
}

.card-total:hover {
  box-shadow: 0 0 1.5px 2px rgba(221, 219, 219, 0.5);
  cursor: pointer;
}

.card-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 0.5rem;
  margin-top: 0.5rem;
  gap: 1rem;
}

.card-icon {
  background-color: rgba(189, 188, 244, 0.755);
  border-radius: 5px;
  padding: 2px 4px;
  display: flex;
  align-items: center;
}

.card-main-info {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.card-name {
  font-size: clamp(1.125rem, 1vw, 1.5rem);
  font-weight: 400;
  color: #5e5d59;
}

.card-number {
  font-size: clamp(0.75rem, 1vw, 0.9rem);
  font-weight: 400;
  color: #5e5d59;
}

.card-type-container {
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.card-type {
  font-size: clamp(0.8rem, 1vw, 0.9rem);
  font-weight: 400;
  padding: 4px 8px;
  border-radius: 12px;
  display: inline-block;
}

.card-balance-container {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.card-curr-balance {
  font-size: clamp(0.85rem, 1vw, 1rem);
  color: rgb(129, 128, 123);
  font-weight: 300;
}

.card-actual-balance {
  font-size: clamp(1.4rem, 1vw, 1.75rem);
  color: rgb(0, 0, 0);
  font-weight: 300;
}

.card-buttons {
  display: flex;
  flex-direction: row;
  gap: 0.45rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.card-button-edit {
  width: 100%;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.906);
  color: rgb(107, 106, 98);
  border: none;
  padding: 3px 5px;
}

.card-button-delete {
  width: 100%;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.906);
  color: rgb(226, 68, 102);
  border: none;
  padding: 3px 5px;
}

/* new editing */

#type.edit-total-container {
  margin-top: 0.5rem;
}

.edit-total-container {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  margin-top: 0.35rem;
}

.edit-label {
  font-size: clamp(0.95rem, 1vw, 1.1rem);
  font-weight: 300;
  color: rgb(94, 93, 89);
}

.edit-input {
  width: 100%;
  border: none;
  background-color: rgb(227, 223, 223);
  padding: 5px;
  border-radius: 8px;
  color: rgba(118, 115, 106, 0.803);
  font-size: clamp(0.9rem, 1vw, 1rem);
  font-weight: 200;
  border: rgba(0, 0, 0, 0.1);
}

.edit-account-buttons {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 1rem;
  gap: 0.5rem;
}

.edit-account-button {
  width: 100%;
  padding: 5px;
  font-size: clamp(0.85rem, 1vw, 0.9rem);
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.906);
  color: rgb(107, 106, 98);
  border: none;
  padding: 3px 5px;
}

@media (max-width: 768px) {
  .card-total {
    width: clamp(10rem, 35vw, 20rem);
  }

  .card-info {
    font-size: clamp(0.75rem, 1vw, 0.95rem);
  }
}
