.add-button-container {
  width: 100;
  display: flex;
  align-items: center;
}

.add-button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 5px 7px;
  padding-left: 12px;
  border-radius: 12px;
  border: none;
  font-family: "Economica", sans-serif;
  font-size: clamp(0.75rem, 1vw, 0.8rem);
  font-weight: 200;
  transition: box-shadow 0.5s ease-in-out;
  color: #ffffff;
  background-color: #5154a1;
  font-weight: 300;
}

.add-button:hover {
  background-color: #b9b9efc1;
  color: #383636;
  box-shadow: 0 0 5px 2px #dddbdb80;
  cursor: pointer;
}
