.budgets-content {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.budgets-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.title {
  color: black;
  font-size: clamp(1rem, 1.5vw, 1.25rem);
  font-weight: 400;
  font-family: "Economica", sans-serif;
}

.add-allocation-button {
  border: none;
  display: flex;
  align-items: center;
  padding: 0.2rem 0.25rem;
  border-radius: 10px;
  background-color: #5154a1;
}

.add-allocation-button:hover {
  background-color: #9fa0e0;
}

.budget-cards-top {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-self: center;
  gap: clamp(1.2rem, 1vw, 2.5rem);
  margin-bottom: 0.5rem;
}

.budget-cards-container {
  flex: 0 0 20%;
  max-width: 20%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  margin-top: 1.5rem;
}

.budget-categories-breakdown-chart-container {
  width: 80%;
  flex: 1;
  align-items: flex-end;
  justify-content: end;
  border: none;
  border-radius: 10px;
  margin-right: 1rem;
}

/* allocations divs */

.budget-categories-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  width: 100%;
}

@media (max-width: 768px) {
  .budget-cards-top {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .budget-cards-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
    margin-top: 1.5rem;
  }

  .budget-categories-total-body {
    flex-direction: column;
  }
  .budget-categories-container,
  .budget-categories-breakdown-chart-container {
    width: 100%;
    margin-right: 0;
  }

  .budget-categories-breakdown-chart-container {
    margin-top: 1.75rem;
  }

  .budget-categories-container {
    grid-template-columns: 1fr;
    width: 100% !important;
    max-width: none !important;
    flex: 1 1 auto;
  }
}

/* add budget allocation form  */
.add-allocation-container {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: safe;
  background-color: #00000080;
  z-index: 1000;
  width: 100%;
}

.add-allocation-form {
  z-index: 1000;
  margin-top: 10%;
  width: 40%;
  width: clamp(15rem, 32vw, 25rem);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.5);
  background-color: #ffffff;
  box-shadow:
    0 4px 10px rgba(0, 0, 0, 0.04),
    0 1px 2px rgba(0, 0, 0, 0.06);
  border-radius: 20px;
  padding: 1.4rem 1.6rem;
  display: flex;
  gap: 0.75rem;
}

.form-entries {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 0.5rem;
}

.duoLabelInput {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.25rem;
}

.labelForm {
  margin-bottom: 0.2rem;
  color: #272626;
  font-size: clamp(0.85rem, 1.2vw, 0.95rem);
  font-family: "Economica", sans-serif;
  font-weight: 300;
}

.inputContainer {
  position: relative;
  width: 100%;
}

.inputForm {
  width: 100%;
  padding: 7px;
  border: 0.01px #717182;
  background-color: #f2efec;
  border-radius: 5px;
  box-sizing: border-box;
  font-weight: 400;
  font-size: clamp(0.9rem, 1vw, 1rem);
  font-family: "Economica", sans-serif;
  font-weight: 300;
  color: #717182;
}

.inputForm:focus {
  cursor: pointer;
  outline: 2px solid #e3e3f6c1;
  border-radius: 5px;
  box-shadow: 0 0 0.1px 0.4px#717182;
}

.add-allocation-buttons-div {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.add-allocation-buttons {
  font-family: "Economica", sans-serif;
  padding: 5px 10px;
  font-size: clamp(0.85rem, 1.1vw, 1rem);
  border: none;
  border-radius: 20px;
  font-weight: 200 !important;
}

.add-allocation-buttons:hover {
  background-color: #c6c8e9;
}

@media (min-width: 1280px) {
  .budget-categories-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1280px) {
  .add-allocation-form {
    margin-top: 20%;
  }
}

@media (max-width: 768px) {
  .add-allocation-form {
    margin-top: 30%;
  }
  .form-entries {
    flex-direction: column;
    gap: 0rem;
  }
}
