.budgets-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.budgets-top {
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-top: 1rem;
  gap: 0.1rem;
}

.title {
  color: black;
  font-size: clamp(1rem, 1.5vw, 1.25rem);
  font-weight: 400;
  font-family: "Economica", sans-serif;
}

.budget-cards-top {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-self: center;
  gap: clamp(1.2rem, 1vw, 2.5rem);
}

.budget-cards-container {
  flex: 0 0 20%;
  max-width: 20%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  margin-top: 1.5rem;
}

.budget-categories-breakdown-chart-container {
  width: 80%;
  flex: 1;
  align-items: flex-end;
  justify-content: end;
  border: none;
  border-radius: 10px;
  margin-right: 1rem;
}

/* allocations divs */

.budget-categories-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  width: 100%;
}

@media (max-width: 768px) {
  .budget-cards-top {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .budget-cards-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin-top: 1.5rem;
  }

  .budget-categories-total-body {
    flex-direction: column;
  }
  .budget-categories-container,
  .budget-categories-breakdown-chart-container {
    width: 100%;
    margin-right: 0;
  }

  .budget-categories-breakdown-chart-container {
    margin-top: 1.75rem;
  }

  .budget-categories-container {
    grid-template-columns: 1fr;
    width: 100% !important;
    max-width: none !important;
    flex: 1 1 auto;
  }
}

@media (min-width: 1280px) {
  .budget-categories-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
