.budgets-content {
  height: 100%;
  width: 100%;
  padding-inline: 1rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.budgets-top {
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-top: 1rem;
  margin-bottom: 1rem;
  gap: 0.1rem;
}

.title {
  color: black;
  font-size: clamp(1rem, 1.5vw, 1.25rem);
  font-weight: 400;
  font-family: "Economica", sans-serif;
}

.curr-budget-container {
  width: 100%;
  display: grid;
  grid-column: 3;
  grid-row: 1;
  justify-content: center;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 1rem;
  align-items: stretch;
}

.budget-categories-total-body {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin-top: 2rem;
}

.budget-categories-container {
  width: 55%;
  display: grid;
  grid-column: 1;
  gap: 1rem;
  grid-template-rows: repeat(auto-fit, minmax(5rem, 1fr));
  gap: 1.5rem;
  align-items: stretch;
}

.budget-categories-breakdown-chart-container {
  width: 45%;
  border: 2px solid #998f8f;
  border-radius: 10px;
  padding: 1rem;
}
