.budgets-content {
  height: 100%;
  width: 100%;
  padding-inline: 1rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.budgets-top {
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-top: 1rem;
  gap: 0.1rem;
}

.title {
  color: black;
  font-size: clamp(1rem, 1.5vw, 1.25rem);
  font-weight: 400;
  font-family: "Economica", sans-serif;
}

.curr-budget-container {
  width: 100%;
  display: grid;
  grid-column: 3;
  grid-row: 1;
  justify-content: center;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  align-items: stretch;
}

.budget-categories-total-body {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
  margin-top: 2rem;
}

.budget-categories-container {
  width: 42%;
  display: grid;
  grid-column: 1;
  gap: 1rem;
  grid-template-rows: repeat(auto-fit, minmax(5rem, 1fr));
  gap: 1.5rem;
  align-items: stretch;
}

.budget-categories-breakdown-chart-container {
  width: 58%;
  border: none;
  border-radius: 10px;
  margin-right: 1rem;
}

@media (max-width: 1024px) {
  .budget-categories-container {
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: none;
  }
  .budget-categories-breakdown-chart-container {
    width: 100%;
    margin-right: 0;
    margin-top: 1.75rem;
  }
}

@media (max-width: 768px) {
  .budget-categories-total-body {
    flex-direction: column;
  }
  .budget-categories-container,
  .budget-categories-breakdown-chart-container {
    width: 100%;
    margin-right: 0;
  }

  .budget-categories-breakdown-chart-container {
    margin-top: 1.75rem;
  }

  .budget-categories-container {
    grid-template-rows: repeat(auto-fit, minmax(5rem, 1fr));
    gap: 0.5rem;
    align-items: stretch;
  }
}
