.budgets-content {
  height: 100%;
  width: 100%;
  padding-inline: 1rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.budgets-top-part {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  gap: 0.1rem;
}

.title {
  color: black;
  font-size: clamp(1rem, 1.5vw, 1.25rem);
  font-weight: 400;
  font-family: "Economica", sans-serif;
}

.curr-budget-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.all-budgets-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 1.4rem;
  border-radius: 16px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.02);
  box-shadow:
    0 4px 10px rgba(0, 0, 0, 0.04),
    0 1px 2px rgba(0, 0, 0, 0.06);
}

.all-budgets-title {
  font-family: "Economica", sans-serif;
  font-size: clamp(1rem, 1.5vw, 1.25rem);
  font-weight: 300;
  padding: 0.5rem;
}
.all-budgets-div {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
