.totalbutton {
  width: 120px;
  height: 50px;
  margin-right: 35px;
  border-radius: 10px;
  background-color: #dcdbed;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.smallbutton {
  background-color: #6c63ff;
  height: 50px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0;
}

.label {
  margin-left: 12px;
  font-size: 18px;
  font-family: "Economica", sans-serif;
}

.arrow {
  font-size: 18px;
  margin-left: 8px;
  margin-right: 8px;
}
