.totalbutton {
  width: 8rem;
  height: 2.5rem;
  border-radius: 10px;
  background-color: #dcdbed;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  justify-content: space-between;
}

.smallbutton {
  background-color: #6c63ff;
  height: 2.5rem;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0;
}

.label {
  margin-left: 0.7rem;
  font-size: clamp(1.5rem 2.5vw, 2rem);
  font-family: "Economica", sans-serif;
}

.arrow {
  font-size: 1.2rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

@media (max-width: 768px) {
  .totalbutton {
    width: 5.5rem;
    height: 2rem;
  }

  .smallbutton {
    background-color: #6c63ff;
    height: 2rem;
  }

  .label {
    margin-left: 0.5rem;
    font-size: 0.8rem;
    font-family: "Economica", sans-serif;
  }

  .arrow {
    font-size: 0.8rem;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
  }
}
