.create-budget-content {
  height: 100%;
  width: 100%;
  padding-inline: 1rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* top part */
.create-budget-top-div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-top: 1rem;
  gap: 0.25rem;
}
.create-budget-top-title {
  color: #545252;
  font-size: clamp(0.95rem, 1.2vw, 1.15rem);
  font-weight: 400;
  font-family: "Economica", sans-serif;
  margin-left: 0.5rem;
}

.create-budget-top-p {
  color: #545252;
  font-size: clamp(0.8rem, 1.2vw, 1rem);
  font-weight: 300;
  font-family: "Economica", sans-serif;
}

/* main budget configuration part */
.create-budget-configuration-div,
.create-budget-allocation-div,
.create-budget-totals-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: 0.8rem 1rem;
  border-radius: 16px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.02);
  box-shadow:
    0 4px 10px rgba(0, 0, 0, 0.04),
    0 1px 2px rgba(0, 0, 0, 0.06);
}

.create-budget-secondary-titles {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  color: #343333;
  font-size: clamp(0.9rem, 1.2vw, 1rem);
  font-weight: 300;
  font-family: "Economica", sans-serif;
}

.create-budget-configuration-row {
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
  margin-top: 0.5rem;
}

LabelInputForm:focus {
  cursor: pointer;
  outline: 1px solid #a79e9e;
  border-radius: 5px;
  box-shadow: 0 0 1px 2px #e7e1e180;
  background-color: #ebe3e3;
}

/* budget allocation configuration part */
.create-budget-allocation-total-container {
  margin-top: 0.5rem;
  margin-bottom: 0.75rem;
}

.create-budget-allocation-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.create-budget-totals-div {
  gap: 0.5rem;
  padding: 1.2rem 1.4rem;
}

.create-budget-allocation-container {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.create-budget-total-flex,
.create-budgets-buttons-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.create-budget-totals-p {
  color: #343333;
  font-size: clamp(0.85rem, 1.11vw, 0.95rem);
  font-weight: 300;
  font-family: "Economica", sans-serif;
}

.create-budgets-buttons-div {
  justify-content: center;
  gap: 1.25rem;
}
