.cuentaView {
  margin: 0;
  min-height: 100vh;
  background-color: #fffffc;
  background-blend-mode: multiply;
}

.totalTopBar {
  width: 100%;
  min-width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #fffffc;
  border-bottom: 1px solid grey;
  margin-bottom: 0px;
  padding: 0.2rem;
}

.cuentaLogo {
  width: 5rem;
  margin-left: 1rem;
  margin-bottom: 0.3rem;
}

.barTags {
  display: flex;
  flex-direction: row;
  margin-left: 0px;
}

.barTags ul {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  margin-bottom: 0px;
  padding: 0px;
}

.topbarLinks {
  list-style: none;
  color: #1e1e1e;
  text-align: center;
  text-decoration: none;
  font-size: clamp(0.85rem, 1vw, 1rem);
  padding: 0.4rem;
  border-radius: 0.5rem;
}

.topbarLinks:not(.active):hover {
  list-style: none;
  background-color: #333578;
  color: #ffffff;
  border-radius: 0.5rem;
}

.active {
  list-style: none;
  background-color: #eaeaf0;
  color: #1e1e1e;
  border-radius: 0.5rem;
}

.user-button-div {
  display: block;
  align-items: center;
  justify-content: center;
  margin-right: 1.5rem;
}

.userButton {
  background-color: #fffffc;
  border-style: none;
}

.user {
  object-fit: cover;
  width: clamp(1.5rem, 2.5vw, 2.5rem);
  padding: 0.2rem;
}

.userTab {
  position: absolute;
  z-index: 10000;
}

.logout {
  position: absolute;
  left: 1rem;
  top: 0.2rem;
  transform: translate(-50%, -50%);
  padding: 0.2rem;
  border-radius: 2px;
  border-color: #000000;
  background-color: #f2e9e4;
  text-decoration: none;
  font-size: 0.8rem;
  font-weight: 300;
  margin-top: 1rem;
  margin-right: 1.5rem;
}

@media (max-width: 768px) {
  .totalTopBar {
    padding: 0.4rem;
  }
  .cuentaLogo {
    width: 3rem;
    margin-left: 0.5rem;
  }

  .barTags ul {
    gap: 0.5rem;
  }

  .topbarLinks {
    font-size: 0.7rem;
    padding: 0.3rem;
  }

  .user {
    width: 1.5rem;
  }
}
