.cuentaView {
  margin: 0;
  min-height: 100vh;
  background-color: #fffffc;
  background-blend-mode: multiply;
}

.totalTopBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #fffffc;
  border-bottom: 1px solid grey;
  margin-bottom: 0px;
}

.cuentaLogo {
  width: 5.8rem;
  height: 2.5rem;
  margin-left: 1.2rem;
  margin-top: 5px;
  margin-bottom: 0.5rem;
}

.barTags {
  display: flex;
  flex-direction: row;
  margin-left: 0px;
}

ul {
  margin-bottom: 0px;
  padding: 0px;
}

li {
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.topbarLinks {
  list-style: none;
  color: #1e1e1e;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  margin-left: 5rem;
  padding: 10px;
  border-radius: 0.5rem;
}

.topbarLinks:not(.active):hover {
  list-style: none;
  background-color: #333578;
  color: #ffffff;
  padding: 0.4rem;
  border-radius: 0.5rem;
}

.active {
  list-style: none;
  background-color: #eaeaf0;
  color: #1e1e1e;
  padding: 0.4rem;
  border-radius: 0.5rem;
}

.user {
  width: 25px;
  height: 25px;
  object-fit: cover;
  margin-top: 0.5rem;
  margin-bottom: 0px;
  margin-right: 1.5rem;
  transform: translate(-50%, -50%);
}

.userButton {
  background-color: #fffffc;
  border-style: none;
  width: 1.2rem;
  height: 1.2rem;
  margin-top: 1rem;
}

.userTab {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.logout {
  position: absolute;
  left: calc(100% - 10px);
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 4px;
  border-radius: 2px;
  border-color: #000000;
  background-color: #f2e9e4;
  text-decoration: none;
  font-size: 0.8rem;
  font-weight: 300;
  margin-top: 1rem;
  margin-right: 1.5rem;
}
