.cuentaView,
.budgets,
.transactions,
.accounts {
  margin: 0;
  min-height: 100vh;
  background-color: #fffffc;
  background-blend-mode: multiply;
}

.totalTopBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #fffffc;
  border-bottom: 1px solid grey;
  margin-bottom: 0px;
}

.cuentaLogo {
  width: 90px;
  height: 35px;
  margin-left: 15px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.barTags {
  display: flex;
  flex-direction: row;
  margin-left: 0px;
}

ul {
  margin-bottom: 0px;
  padding: 0px;
}

li {
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.topbarLinks {
  list-style: none;
  color: #1e1e1e;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  margin-left: 60px;
  padding: 10px;
  border-radius: 0.5rem;
}

.topbarLinks:not(.active):hover {
  list-style: none;
  background-color: #333578;
  color: #ffffff;
  padding: 0.4rem;
  border-radius: 0.5rem;
}

.active {
  list-style: none;
  background-color: #eaeaf0;
  color: #1e1e1e;
  padding: 0.4rem;
  border-radius: 0.5rem;
}

.user {
  width: 25px;
  height: 25px;
  object-fit: cover;
  margin-top: 10px;
  margin-bottom: 0px;
  margin-right: 20px;
}
