.cuentaView,
.transactions,
.budgets,
.accounts {
  margin: 0;
  min-height: 100vh;
  background-color: #fffffc;
  background-blend-mode: multiply;
}

.totalTopBar {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid grey;
  margin-bottom: 0px;
}

.cuentaLogo {
  width: 95px;
  height: 40px;
  margin-left: 15px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.barTags {
  display: flex;
  flex-direction: row;
  margin-left: 7%;
}

li {
  display: flex;
  flex-direction: row;
}

ul {
  margin-bottom: 20px;
}

.topbarLinks {
  list-style: none;
  color: #1e1e1e;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  padding: 10px;
  margin-right: 40px;
  margin: 0 0.5 rem;
  border-radius: 0.5rem;
}

.topbarLinks:not(.active):hover {
  list-style: none;
  background-color: #333578;
  color: #ffffff;
  padding: 0.4rem;
  border-radius: 0.5rem;
}

.active {
  list-style: none;
  background-color: #eaeaf0;
  color: #1e1e1e;
  padding: 0.4rem;
  border-radius: 0.5rem;
}

.sideTitle {
  font-weight: 500;
  margin-top: 0px;
  padding: 20px;
}

.viewMode {
  font-size: 15px;
  margin-top: 30px;
  border-top: 1px solid grey;
}

.item {
  margin-left: 20px;
  margin-bottom: 10px;
  font-weight: 200;
}

.user {
  width: 5%;
  align-items: end;
  margin-left: 90%;
  margin-right: 10px;
  margin-top: 15px;
}
