.main-content {
  overflow-y: auto;
  min-height: 100vh;
  background-color: #fffffc;
  display: flex;
  flex-direction: column;
}

.content-title {
  padding: 5px;
  font-size: 18px;
}
.flex-content {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.donut-chart-container {
  flex: 2;
  margin-top: 0;
  width: 80%;
  height: 80%;
}

.donut-chart-container svg {
  margin-top: 0;
  width: 80%;
  height: auto;
}

.total-legend {
  margin-top: 5%;
  flex: 1;
  padding: 10px;
  overflow-y: auto;
  width: 20%;
}

.legend-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-size: 14px;
}

.legend-color {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border-radius: 50%;
}
