.all-content {
  height: 100%;
  width: 100%;
  padding-inline: 1rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.topTransaction {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.content-title {
  color: black;
  font-size: clamp(1rem, 1.5vw, 1.25rem);
  font-weight: 400;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
}

.flex-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
}

.donut-chart-container {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.donut-chart-container svg {
  width: 55%;
  max-height: 30rem;
  aspect-ratio: 1 / 1;
  overflow: visible;
}

.donut-chart text {
  color: black;
  font-family: "Economica", sans-serif;
  font-size: clamp(1rem, 2vw, 3rem);
  font-weight: 300;
}

.no-transactions {
  text-align: center;
  padding: 10%;
  font-size: clamp(1rem, 1vw, 1.2rem);
  font-weight: 300;
}

@media (max-width: 768px) {
  .topTransaction {
    padding: 0;
    margin: 0;
  }

  .content-title {
    font-size: clamp(0.95rem, 1vw, 1rem);
    margin-left: 0rem;
  }

  .donut-chart-container {
    width: 100%;
    margin-top: 2rem;
  }

  .donut-chart-container svg {
    width: 70%;
    aspect-ratio: 1 / 1;
    overflow: visible;
  }

  .donut-chart text {
    color: black;
    font-family: "Economica", sans-serif;
    font-size: 1rem;
    font-weight: 300;
  }
  .no-transactions {
    padding: 7%;
    font-size: clamp(0.9rem, 1vw, 1rem);
  }
}
