.error-div {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
  margin-top: 0.5rem;
}
/* error messages */
.create-budget-error-message {
  text-align: center;
  color: #b17474;
  font-size: clamp(0.85rem, 1.1vw, 0.95rem);
  font-weight: 300;
  font-family: "Economica", sans-serif;
}
