.duoLabelInput {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 1rem;
}

.labelForm {
  margin-bottom: 0.2rem;
  color: #272626;
  font-size: clamp(0.85rem, 1.2vw, 0.95rem);
  font-family: "Economica", sans-serif;
  font-weight: 300;
}

.inputContainer {
  position: relative;
  width: 100%;
}

.inputForm {
  width: 100%;
  padding: 7px;
  border: 0.01px #717182;
  background-color: #f2efec;
  border-radius: 5px;
  box-sizing: border-box;
  font-weight: 400;
  font-size: clamp(0.8rem, 1vw, 0.9rem);
  font-family: "Economica", sans-serif;
  font-weight: 300;
  color: #717182;
}

.inputForm:focus {
  cursor: pointer;
  outline: 2px solid #e3e3f6c1;
  border-radius: 5px;
  box-shadow: 0 0 0.1px 0.4px#717182;
}

.inputAddon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}

.inputContainer .eye {
  width: 1.5rem;
  cursor: pointer;
}

@media (max-width: 768px) {
  .inputContainer .eye {
    width: 1rem;
    cursor: pointer;
  }
  .labelForm {
    font-size: 0.8rem;
  }
}
