.layout {
  height: 100vh;
  background-color: #fffffc;
}

.content-container {
  display: flex;
  height: calc(100vh - var(--topbar-height));
}

.main-content {
  position: relative;
  flex: 1;
  padding-inline: 1.5rem;
  padding-block: 1.5rem;

  box-sizing: border-box;
}
