*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.totalMainPage {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.mainPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.main-page-logo {
  width: 2rem;
  padding: 0rem;
}

.mptitle {
  font-size: clamp(2.25rem, 2.5vw, 2.75rem);
  font-weight: bold;
  padding: 0.5rem;
}

.text {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-size: clamp(1.25rem, 1.5vw, 1.5rem);
}

.buttons {
  gap: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}

.pic {
  margin-top: 5%;
  width: 55%;
}

@media (max-width: 768px) {
  .mainPage {
    margin-bottom: 5%;
  }

  .mptitle {
    font-size: clamp(1.7rem, 1.5vw, 2rem);
    margin-bottom: 0.25rem;
  }

  .text {
    font-size: clamp(1rem, 2vw, 1.5rem);
    margin-bottom: 0.4rem;
  }

  .pic {
    width: 60%;
  }
}
