.mainPage {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mptitle {
  margin-bottom: 0px;
  font-size: 40px;
  font-weight: bold;
}

.text {
  margin-top: 20px;
  font-size: 30px;
}

.buttons {
  margin-top: 4%;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}

.pic {
  margin-top: 10%;
  width: 40%;
}
