.mobile-transactions {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}

.transaction-card {
  background: #f5f3f0;
  border-radius: 14px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.04);
  display: flex;
  flex-direction: column;
}

.transaction-card-content {
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  margin-bottom: 0.5rem;
}

.card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  gap: 0.5rem;
}

.card-title-div {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.card-title {
  font-weight: 300;
  font-size: 0.95rem;
}

.card-actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5rem;
}

.card-icon {
  background-color: rgba(227, 227, 246, 0.755);
  color: #59599ec2;
  padding: 6px;
  border-radius: 5px;
}

.card-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;
}

.label {
  color: #7a7777;
  font-size: 0.85rem;
  font-weight: 200;
}

.amount.plus {
  color: #479647;
  font-size: 0.85rem;
  font-weight: 200;
}

.amount.minus {
  color: #c24747;
  font-size: 0.85rem;
  font-weight: 200;
}

.category-block {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.category-values {
  font-size: 0.85rem;
  font-weight: 200;
  color: #2b2a2a;
}

.category-block-values {
  background-color: #e3e3f6c1;
  border: 1px solid #c5c2c9;
  border-radius: 10px;
  text-align: center;
  padding: 4px 8px;
  color: #2b2a2a;
  font-weight: 300;
  font-size: 0.75rem;
}

.tax-badge {
  background-color: #93bcaec1;
  color: #ffffff;
  font-size: 0.75rem;
  padding: 4px 8px;
  border-radius: 12px;
}
