.pagination-bar-total {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 0.5rem;
  margin-top: 1rem;
}

.pagination-bar-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #453c87;
  border: none;
  color: white;
  padding: 0.45rem 0.65rem;
  border-radius: 20px;
}

.pagination-bar-button:hover {
  background-color: #46469ac1;
}

.pagination-bar-button:disabled {
  background-color: #e3e3e4c1;
}

.pagination-text {
  font-family: "Economica", sans-serif;
  font-size: clamp(0.8rem, 1vw, 1rem);
  font-weight: 300;
}
