.totalSideBar {
  width: 15%;
  height: calc(100vh);
  border-right: 1px solid grey;
  margin-top: 0px;
}

.addItem,
.viewMode {
  display: flex;
  flex-direction: column;
  align-items: start;
  font-size: 15px;
  margin-top: 0px;
  margin-bottom: 20px;
}

.sideTitle {
  font-weight: 500;
  margin-top: 0px;
  padding: 20px;
  margin-bottom: 0px;
}

.sideBarLinks {
  list-style: none;
  color: #1e1e1e;
  text-align: start;
  text-decoration: none;
  font-size: 15px;
  padding: 0.5rem;
  margin-left: 15px;
  margin: 0 0.5 rem;
  border-radius: 0.5rem;
}

.sideBarLinks:not(.active):hover {
  list-style: none;
  background-color: #333578;
  color: #ffffff;
  padding: 0.4rem;
  border-radius: 0.5rem;
}

.active {
  list-style: none;
}
