html {
  background-color: #fffffc;
}

.formContainer {
  display: flex;
  margin: 0;
  min-height: 100vh;
  background-color: #fffffc;
  background-blend-mode: multiply;
  position: relative;
}

.totalSideBar {
  width: 15%;
  max-width: 200px;
  min-width: 150px;
  min-height: 100vh;
  border-right: 1px solid grey;
  margin-top: 0px;
  z-index: 1;
}

.addItem,
.viewMode {
  display: flex;
  flex-direction: column;
  align-items: start;
  font-size: 1rem;
  margin-top: 0px;
}

.sideTitle {
  font-weight: 500;
  margin-top: 0px;
  padding-top: 1.2rem;
  padding-left: 1.2rem;
}

.viewMode {
  font-size: 1rem;
  margin-top: 1.2rem;
  border-top: 1px solid grey;
}

li {
  display: flex;
  flex-direction: row;
}

ul {
  margin-bottom: 1.2rem;
}

.sideBarLinks {
  list-style: none;
  color: #1e1e1e;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  padding: 0.2rem;
  margin-left: 1rem;
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
}

.sideBarLinks:hover {
  list-style: none;
  background-color: #333578;
  color: #ffffff;
  padding: 0.4rem;
  border-radius: 0.5rem;
}

.active {
  list-style: none;
  background: #eaeaf0;
  color: #1e1e1e;
  padding: 0.4rem;
  border-radius: 0.5rem;
}

.backdrop {
  position: absolute;
  z-index: 8;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.1);
}

.addItemForm {
  width: 18rem;
  padding-top: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 1rem;
  background: white;
  border: 0.75px solid #000000;
  border-radius: 8px;
  box-shadow: 2px 2px 10px rgba(168, 166, 166, 0.1);
  z-index: 10;
  position: absolute;
  left: calc(100vw - 60%);
  top: calc(100vh - 82.5%);
}

.itemType {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.entry {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.entryLabel {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  font-family: "Economica", sans-serif;
}

.entryInput,
.categorySelect {
  background-color: #f2e9e4;
  margin-bottom: 0.1rem;
  padding: 0.3rem;
  border: 1px solid #f2e9e4;
  border-radius: 5px;
}

.options {
  font-size: 1rem;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

.addButton {
  background-color: #7fb069;
  border: 1px solid #7fb069;
  border-radius: 5px;
  width: 35%;
  padding: 5px;
}

.cancelButton {
  background-color: #d57853;
  border: 1px solid #d57853;
  border-radius: 5px;
  width: 35%;
  padding: 5px;
}
