.addItemTotal,
.formContainer {
  display: flex;
  margin: 0;
  min-height: 100vh;
  background-color: #fffffc;
  background-blend-mode: multiply;
  position: relative;
}

.totalSideBar {
  width: 15%;
  min-height: 100vh;
  border-right: 1px solid grey;
  margin-top: 0px;
  z-index: 1;
}

.addItem,
.viewMode {
  display: flex;
  flex-direction: column;
  align-items: start;
  font-size: 15px;
  margin-top: 0px;
}

.sideTitle {
  font-weight: 500;
  margin-top: 0px;
  padding-top: 20px;
  padding-left: 20px;
}

.viewMode {
  font-size: 15px;
  margin-top: 20px;
  border-top: 1px solid grey;
}

li {
  display: flex;
  flex-direction: row;
}

ul {
  margin-bottom: 20px;
}

.sideBarLinks {
  list-style: none;
  color: #1e1e1e;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  padding: 5px;
  margin-left: 20px;
  margin-bottom: 10px;
  border-radius: 0.5rem;
}

.sideBarLinks:hover {
  list-style: none;
  background-color: #333578;
  color: #ffffff;
  padding: 0.4rem;
  border-radius: 0.5rem;
}

.active {
  list-style: none;
  background: #eaeaf0;
  color: #1e1e1e;
  padding: 0.4rem;
  border-radius: 0.5rem;
}

.addItemForm {
  margin-top: 5%;
  margin-left: 30%;
  width: 15%;
  height: 40%;
  max-width: 400px;
  padding-top: 15px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 15px;
  background: white;
  border: 1px solid #000000;
  border-radius: 8px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 2;
}

.itemType {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 15px;
}

.entry {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.entryLabel {
  margin-bottom: 5%;
  font-size: 14px;
  font-family: "Economica", sans-serif;
}

.entryInput {
  background-color: #f2e9e4;
  padding: 5px;
  border: 1px solid #f2e9e4;
  border-radius: 5px;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 20px;
  margin-bottom: 10px;
}

.addButton {
  background-color: #7fb069;
  border: 1px solid #7fb069;
  border-radius: 5px;
  width: 35%;
  padding: 5px;
}

.cancelButton {
  background-color: #d57853;
  border: 1px solid #d57853;
  border-radius: 5px;
  width: 35%;
  padding: 5px;
}
