.formContainer {
  display: flex;
  margin: 0;
  min-height: 100vh;
  background-color: #fffffc;
  background-blend-mode: multiply;
  position: relative;
}

.totalSideBar {
  width: 15%;
  max-width: 12rem;
  min-width: 9rem;
  min-height: 100vh;
  border-right: 1px solid grey;
  margin-top: 0px;
  /* z-index: 1; */
  transition: transform 0.3s ease-in-out;
}

.addItem,
.viewMode {
  display: flex;
  flex-direction: column;
  align-items: start;
  font-size: 1rem;
  margin-top: 0px;
}

.sideTitle {
  font-weight: 500;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  margin-left: 1rem;
  font-size: clamp(0.85rem, 1.1vw, 1rem);
}

.viewMode {
  font-size: clamp(0.85rem, 1.1vw, 1rem);
  margin-top: 1.2rem;
  border-top: 1px solid grey;
}

li {
  display: flex;
  flex-direction: row;
}

.sideBarButtons {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  border: none;
  background: transparent;
  color: #1e1e1e;
  text-align: center;
  text-decoration: none;
  font-size: clamp(0.85rem, 1.1vw, 1rem);
  margin-left: 0.8rem;
  padding: 0.4rem;
  margin-bottom: 0.25rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.sideBarButtons:hover {
  background-color: #eaeaf0;
}

.sideBarButtons.active {
  background-color: #333578;
  color: white;
}

.sideBarButtons.active:hover {
  background-color: #333578;
}

.sideBarLinks {
  list-style: none;
  color: #1e1e1e;
  text-align: center;
  text-decoration: none;
  font-size: clamp(0.85rem, 1.1vw, 1rem);
  margin-left: 0.8rem;
  padding: 0.4rem;
  margin-bottom: 0.25rem;
  border-radius: 0.5rem;
}

.sideBarLinks:hover {
  list-style: none;
  background-color: #333578;
  color: #ffffff;
  padding: 0.4rem;
  border-radius: 0.5rem;
}

.backdrop {
  position: absolute;
  z-index: 8;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.1);
}

/* form component */
.addItemForm-container {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.02);
  box-shadow:
    0 4px 10px rgba(0, 0, 0, 0.04),
    0 1px 2px rgba(0, 0, 0, 0.06);
  z-index: 1000;
}

.addItemForm {
  margin-top: 10%;
  width: clamp(12rem, 25vw, 20rem);
  border: none;
  border-radius: 20px;
  background-color: #ffffff;
}

.itemType-container {
  background-color: #393b81;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 100%;
}

.itemType {
  padding: 1.25rem;
  font-size: clamp(0.95rem, 1.1vw, 1.1rem);
  font-weight: 300;
  font-family: "Economica", sans-serif;
  color: #f6ecec;
  text-align: center;
}

.entries {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
  margin-top: 1rem;
}

.entry {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  padding: 0.15rem 1.5rem;
}

.entry-vertical {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0.15rem 1.5rem;
}

.entryLabel {
  font-size: clamp(0.85rem, 1vw, 1rem);
  font-family: "Economica", sans-serif;
  font-weight: 300;
}

.entryLabel-vertical {
  font-size: clamp(0.9rem, 1vw, 1rem);
  font-family: "Economica", sans-serif;
  font-weight: 300;
}

.entryInput,
.categorySelect {
  background-color: #f7f2f1;
  font-size: clamp(0.85rem, 1.1vw, 1rem);
  font-weight: 200;
  padding: 0.3rem;
  border: 1px solid #c0bab9;
  border-radius: 5px;
  font-family: "Economica", sans-serif;
  color: gray;
}

.entryInput:focus,
.categorySelect:focus {
  outline: none;
  box-shadow: 0 0 0 1.75px #47499a;
}

.options {
  font-size: clamp(0.9rem, 1vw, 1rem);
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  padding: 0.05rem 1.5rem;
}

.addButton {
  background-color: #d0d0f0c1;
  border: none;
  border-radius: 5px;
  font-family: "Economica", sans-serif;
  font-weight: 200;
  font-size: clamp(0.85rem, 1vw, 1rem);
  padding: 0.35rem 0.55rem;
}

.addButton:hover {
  background-color: #333578;
  color: white;
  border: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .totalSideBar {
    position: fixed;
    top: 2.6rem;
    left: 0;
    height: 100vh;
    width: 70%;
    max-width: 15rem;
    transform: translateX(-100%);
    z-index: 1000;
    border-right: 1px solid grey;
    background-color: #fffffc;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  }
  .totalSideBar.show {
    transform: translateX(0);
  }

  .totalSideBar {
    width: 5%;
  }

  .addItem,
  .viewMode {
    font-size: 0.8rem;
  }

  .sideTitle {
    font-weight: 500;
    margin-top: 0px;
    margin: 0.8rem;
  }

  .viewMode {
    margin-top: 1.2rem;
  }

  .sideBarButtons {
    font-size: clamp(0.75rem, 1.2vw, 1rem);
    margin-left: 0.6rem;
    padding: 0.25rem;
  }

  .sideBarLinks {
    margin-left: 0.6rem;
    padding: 0.25rem;
  }

  /* form component */
  .addItemForm {
    width: 12rem;
    padding: 1rem;
  }

  .itemType {
    font-size: 1rem;
    font-weight: 400;
  }

  .entry {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-weight: 300;
  }

  .entryLabel {
    padding: 0.05rem;
    font-size: 0.9rem;
    font-weight: 300;
  }

  .entryInput {
    padding: 0.2rem;
  }
}
