.totalPage {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #c1bfde;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: auto;
}

.form-title {
  font-size: clamp(1.4rem, 1vw, 1.5rem);
  padding: 0.1rem;
  color: #000000;
  font-weight: 400;
}

.signUpForm {
  background-color: #ffffff;
  padding: 1.5%;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  margin-left: 20%;
  margin-right: 20%;
  border: 0.2rem solid #aca9e3;
  border-radius: 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 10%;
  margin-top: 1rem;
}

.entries {
  margin-top: 3%;
  margin-bottom: 1%;
  width: 80%;
}

.loginButton,
.signUpButton {
  margin-top: 3%;
  width: 100%;
  padding: 7px;
  background-color: #4843ae;
  border-style: none;
  color: #ffffff;
  font-size: 15px;
  font-family: "Economica", sans-serif;
  border-radius: 5px;
}

.loginDiv {
  padding: 0.1rem;
  margin-top: 3%;
  margin-bottom: 4%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}

.underText1 {
  font-size: clamp(0.85rem, 0.8vw, 0.9rem);
  font-family: "Economica", sans-serif;
  color: black;
  font-weight: 350;
}

.underText2 {
  font-size: clamp(0.85rem, 0.8vw, 0.9rem);
  font-family: "Economica", sans-serif;
  color: black;
  font-weight: 350;
}

@media (max-width: 768px) {
  .form-title {
    font-size: 1.05rem;
  }
  .signUpForm {
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 80%;
  }
  .loginDiv {
    gap: 0.5rem;
    justify-content: space-between;
    padding: 0.1rem;
    margin-top: 0.5rem;
  }
  .underText1,
  .underText2 {
    font-size: 0.7rem;
    margin-right: 0px;
  }
}
