.totalPage {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #c1bfde;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: auto;
}

.entries {
  margin-top: 3%;
  margin-bottom: 1%;
  width: 80%;
}

.entries-name {
  display: flex;
  gap: 0.5rem;
}

.loginButton,
.signUpButton {
  margin-top: 0.5rem;
  width: 100%;
  padding: 7px;
  background-color: #333578;
  border-style: none;
  color: #ffffff;
  font-size: clamp(0.95rem, 1vw, 1.1rem);
  font-family: "Economica", sans-serif;
  font-weight: 200;
  border-radius: 5px;
  box-shadow:
    0 10px 15px rgba(0, 0, 0, 0.1),
    0 4px 6px rgba(0, 0, 0, 0.05); /* shadow-lg */
  transition: all 0.3s ease; /* transition-all */
  cursor: pointer;
}

.loginButton:hover,
.signUpButton:hover {
  background: linear-gradient(to top, #5b5eb8, #333578);
  box-shadow:
    0 15px 25px rgba(0, 0, 0, 0.15),
    0 8px 10px rgba(0, 0, 0, 0.1);
}

.loginDiv {
  padding: 0.1rem;
  margin-top: 3%;
  margin-bottom: 4%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}

@media (max-width: 768px) {
  .form-title {
    font-size: 1.05rem;
  }
  .signUpForm {
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 80%;
  }
  .loginDiv {
    gap: 0.5rem;
    justify-content: space-between;
    padding: 0.1rem;
    margin-top: 0.5rem;
  }
  .underText1,
  .underText2 {
    font-size: 0.7rem;
    margin-right: 0px;
  }
}
