.body {
  margin: 0;
  min-height: 100vh;
  background-color: #a6a4c7;
}

.signUpForm {
  background-color: #4842b8;
  width: 30%;
  margin-top: 5%;
  margin-left: 35%;
  margin-right: 35%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  margin-top: 10%;
  margin-bottom: 5%;
  width: 10%;
  align-items: center;
}

.entries {
  margin-top: 5%;
  margin-bottom: 1%;
  width: 80%;
}

.signUpButton {
  margin-top: 2%;
  width: 80%;
  padding: 5px;
  background-color: #b2b4ed;
  color: #000000;
  font-size: 15px;
  font-family: "Economica", sans-serif;
  border-radius: 5px;
}

.loginButton {
  margin-top: 3%;
  width: 100%;
  padding: 5px;
  background-color: #b2b4ed;
  color: #000000;
  font-size: 15px;
  font-family: "Economica", sans-serif;
  border-radius: 5px;
}

.loginDiv {
  margin-top: 3%;
  margin-bottom: 4%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.underText1 {
  font-size: 15px;
  font-family: "Economica", sans-serif;
  color: white;
  margin-right: 10px;
}

.underText2 {
  font-size: 15px;
  font-family: "Economica", sans-serif;
  color: #a6a4c7;
  float: right;
  right: 0;
}
