.slider-button-container {
  display: flex;

  align-items: center;
}

.switch {
  position: relative;
  display: inline-flex;
  align-items: center;
  height: 1.5rem;
  width: 2.75rem;
  border-radius: 9999px;
  border: none;
  cursor: pointer;
  transition: background-color 300ms;
  border: 1px solid #c0bab9;
}

.switch-on {
  background-color: #4f4f90c2;
  border: none;
}

.switch-off {
  background-color: #f7f2f1;
}

.knob {
  display: inline-block;
  height: 1rem;
  width: 1rem;
  border-radius: 9999px;
  background: white;
  transition: transform 300ms;
  border: 1px solid #c0bab9;
}

.knob-on {
  transform: translateX(1.5rem);
}

.knob-off {
  transform: translateX(0.25rem);
}
