/* text button */
.text-button-container {
  width: 100;
  display: flex;
  align-items: center;
}

.text-button {
  max-width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding: 3px 5px;
  border-radius: 5px;
  border: 1px solid rgb(206, 201, 201);
  font-family: "Economica", sans-serif;
  font-size: clamp(0.75rem, 1vw, 0.95rem);
  font-weight: 300;
  transition: box-shadow 0.5s ease-in-out;
}

.text-button:hover {
  box-shadow: 0 0 5px 2px rgba(221, 219, 219, 0.5);
  cursor: pointer;
}
