.transaction-content {
  height: 100%;
  width: 100%;
  padding-inline: 1rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.topTransaction {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.title {
  color: black;
  font-size: clamp(1.1rem, 1.5vw, 1.5rem);
  font-weight: 400;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
}

/* left date range */
.total-date-range {
  display: flex;
}

.date-selectors {
  display: flex;
  gap: 1rem;
}

.fromTo {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.from-to-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: clamp(0.25rem, 1vw, 0.5rem);
}

.from,
.to {
  color: black;
  font-size: clamp(0.75rem, 1.2vw, 1.1rem);
  font-weight: 300;
}

.inputDate {
  padding: 0.1rem;
  background-color: #e3e1dede;
  border-radius: 5px;
  border: none;
  padding: 5px;
  width: 10rem;
  font-size: clamp(0.7rem, 1.2vw, 1rem);
  color: #4e4c4c;
}

.inputDate:focus {
  cursor: pointer;
  outline: 2px solid #b0afacde;
  border-radius: 5px;
  box-shadow: 0 0 5px 2px #84828280;
}
/* transactions table */

.allTransactions-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 0.5rem;
}

.allTransactions {
  width: 100%;
  border-collapse: collapse;
  background-color: #f5f3f0;
  border-radius: 10px;
  overflow: hidden;
}

.allTransactions thead {
  background-color: #f5f3f0;
}

.allTransactions th {
  padding: 1rem;
  text-align: left;
  font-weight: 300;
  font-size: clamp(1rem, 1vw, 1.25rem);
  color: #797575;
}

.allTransactions td {
  padding: 1.25rem 0.85rem;
  text-align: left;
  font-size: clamp(0.95rem, 1vw, 1rem);
  font-weight: 200;
  color: #000000;
}

.allTransactions tbody tr td {
  transition: background-color 0.2s ease;
}

.allTransactions tr:hover td {
  background-image: linear-gradient(#0000000f, #0000000f);
}

.transaction-type-icon {
  background-color: rgba(227, 227, 246, 0.755);
  color: rgba(89, 89, 158, 0.76);
  padding: 5px;
  border-radius: 5px;
}

.even-row {
  background-color: #faf9f7;
}

.odd-row {
  background-color: #f5f3f0;
}

.transaction-type-container {
  width: 100%;
  display: flex;
  align-items: center;
}

.transaction-type-cat {
  background-color: #e3e3f6c1;
  border-radius: 20px;
  text-align: center;
  padding: 5px 10px;
  color: #4e4c4c;
  font-weight: 300;
  font-size: clamp(0.85rem, 1vw, 0.95rem);
}
.noTransactions {
  text-align: center;
  font-size: clamp(0.7rem, 1vw, 1rem);
  padding: 20px;
  font-weight: bold;
  color: #666;
}

.categoryIcon {
  object-fit: contain;
  width: 1.1rem;
}

.apply-filter-button {
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 5px;
  font-size: clamp(1rem, 1.5vw, 1.5rem);
}

.apply-filter-button:hover {
  background-color: navajowhite;
}

.transaction-modify-buttons {
  width: clamp(4rem, 3vw, 7rem);
}

.transaction-modify-buttons-div {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  gap: 0.25rem;
}

.no-transactions {
  text-align: center;
  padding: 10%;
  font-size: clamp(1rem, 1vw, 1.2rem);
  font-weight: 300;
}

@media (max-width: 768px) {
  .transaction-content {
    min-height: 100vh;
    margin: 0.25rem;
  }

  .title {
    font-size: clamp(0.95rem, 1vw, 1rem);
    margin-left: 0rem;
  }

  .allTransactions-div {
    margin-top: 1rem;
    margin-left: 0.35rem;
    margin-right: 0.35rem;
  }

  .allTransactions th {
    padding: 0.3rem;
    font-size: clamp(0.7rem, 1vw, 0.8rem);
    font-weight: 350;
  }

  .allTransactions td {
    font-size: clamp(0.7rem, 1vw, 0.8rem);
    font-weight: 200;
  }

  .categoryIcon {
    width: 0.95rem;
  }

  .transaction-modify-buttons-div {
    gap: 0.15rem;
  }

  .transaction-button-edit,
  .transaction-button-delete {
    padding: 0.1rem;
  }

  /* from to date selector */
  .total-div {
    display: flex;
    flex-direction: row;
  }
  .date-selectors {
    gap: 1rem;
    justify-content: center;
    align-items: center;
  }

  .fromTo {
    flex-direction: column;
    justify-self: start;
    align-items: self-end;
    gap: 0.25rem;
    margin-top: 0.25rem;
    margin-left: 1rem;
  }

  .from,
  .to {
    font-size: clamp(0.75rem, 1vw, 0.85rem);
  }

  .inputDate {
    width: clamp(4.75rem, 2vw, 5.5rem);
    font-size: clamp(0.55rem, 1vw, 0.75rem);
  }

  .apply-filter-button {
    padding: 0.1rem;
    margin-right: 0.5rem;
    font-size: clamp(0.95rem, 1.5vw, 1.25rem);
  }
  .no-transactions {
    padding: 7%;
    font-size: clamp(0.9rem, 1vw, 1rem);
  }
}
