.transaction-content {
  min-height: 100vh;
  padding: 0.2rem;
  margin-top: 0.5rem;
  margin: 1rem;
}

.topTransaction {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.title {
  color: black;
  font-size: clamp(1rem, 1.5vw, 1.25rem);
  font-weight: 400;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
}

/* left date range */
.total-date-range {
  display: flex;
}

.date-selectors {
  display: flex;
  gap: 1rem;
}

.fromTo {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.from-to-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: clamp(0.25rem, 1vw, 0.5rem);
}

.from,
.to {
  color: black;
  font-size: clamp(0.7rem, 1vw, 1.1rem);
  font-weight: 400;
}
.inputDate {
  padding: 0.1rem;
  background-color: #e0e0ef;
  border-radius: 5px;
  border-color: #383671;
  border-width: 1px;
  width: 10rem;
  font-size: clamp(0.7rem, 1vw, 1rem);
}

/* transactions table */

.allTransactions-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 0.5rem;
}

.allTransactions {
  width: 100%;
  border-collapse: collapse;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.allTransactions thead {
  background-color: #f4f4f4;
  font-weight: bold;
}

.allTransactions th {
  background-color: white;
}

.allTransactions th {
  padding: 0.75rem;
  text-align: left;
  font-size: clamp(0.85rem, 1vw, 1rem);
  font-weight: 500;
  color: #333;
}

.allTransactions td {
  padding: 0.35rem;
  text-align: left;
  font-size: clamp(0.85rem, 1vw, 1rem);
  font-weight: 300;
  color: #333;
}

.even-row {
  background-color: #f8f8f8;
}

.odd-row {
  background-color: #fff;
}

.noTransactions {
  text-align: center;
  font-size: clamp(0.7rem, 1vw, 1rem);
  padding: 20px;
  font-weight: bold;
  color: #666;
}

.categoryIcon {
  object-fit: contain;
  width: 1.1rem;
}

.apply-filter-button {
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 5px;
  font-size: clamp(1rem, 1.5vw, 1.5rem);
}

.apply-filter-button:hover {
  background-color: navajowhite;
}

.transaction-modify-buttons {
  width: clamp(4rem, 3vw, 7rem);
}

.transaction-modify-buttons-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.3rem;
}

.transaction-button-edit {
  border: none;
  border-radius: 45%;
  padding: 0.3rem;
  background-color: #b2e7c4;
}

.transaction-button-delete {
  border: none;
  border-radius: 45%;
  padding: 0.25rem;
  background-color: #e2afaf;
}

.transaction-button-symbol {
  width: clamp(0.75rem, 1.5vw, 1.3rem);
  height: clamp(0.5rem, 1.2vw, 0.9rem);
}

.no-transactions {
  text-align: center;
  padding: 10%;
  font-size: clamp(1rem, 1vw, 1.2rem);
  font-weight: 300;
}

@media (max-width: 768px) {
  .transaction-content {
    min-height: 100vh;
    margin: 0.25rem;
  }

  .title {
    font-size: clamp(0.95rem, 1vw, 1rem);
    margin-left: 0rem;
  }

  .allTransactions-div {
    margin-top: 1rem;
    margin-left: 0.35rem;
    margin-right: 0.35rem;
  }

  .allTransactions th {
    padding: 0.3rem;
    font-size: clamp(0.7rem, 1vw, 0.8rem);
    font-weight: 350;
  }

  .allTransactions td {
    font-size: clamp(0.7rem, 1vw, 0.8rem);
    font-weight: 200;
  }

  .categoryIcon {
    width: 0.95rem;
  }

  .transaction-modify-buttons-div {
    gap: 0.15rem;
  }

  .transaction-button-edit,
  .transaction-button-delete {
    padding: 0.1rem;
  }

  /* from to date selector */
  .total-div {
    display: flex;
    flex-direction: row;
  }
  .date-selectors {
    gap: 1rem;
    justify-content: center;
    align-items: center;
  }

  .fromTo {
    flex-direction: column;
    justify-self: start;
    align-items: self-end;
    gap: 0.25rem;
    margin-top: 0.25rem;
    margin-left: 1rem;
  }

  .from,
  .to {
    font-size: clamp(0.75rem, 1vw, 0.85rem);
  }

  .inputDate {
    width: clamp(4.75rem, 2vw, 5.5rem);
    font-size: clamp(0.55rem, 1vw, 0.75rem);
  }

  .apply-filter-button {
    padding: 0.1rem;
    margin-right: 0.5rem;
    font-size: clamp(0.95rem, 1.5vw, 1.25rem);
  }
  .no-transactions {
    padding: 7%;
    font-size: clamp(0.9rem, 1vw, 1rem);
  }
}
