.main-content {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  min-height: 100vh;
  background-color: #fffffc;
}

.topTransaction {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  padding: 10px;
  border-radius: 8px;
}

.title {
  color: black;
  font-size: 20px;
  font-weight: 500;
}

.fromTo {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-right: 20px;
}

.from,
.to {
  color: black;
  font-size: 14px;
  font-weight: 400;
}

.allTransactions {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background: white;
  border-radius: 10px;
  overflow: hidden;
}

.allTransactions thead {
  background-color: #f4f4f4;
  font-weight: bold;
}

.allTransactions th {
  background-color: white;
}

.allTransactions th,
.allTransactions td {
  padding: 12px;
  text-align: left;
  font-size: 14px;
  font-weight: 400;
  color: #333;
}

.even-row {
  background-color: #f8f8f8;
}

.odd-row {
  background-color: #fff;
}

.noTransactions {
  text-align: center;
  font-size: 14px;
  padding: 20px;
  font-weight: bold;
  color: #666;
}

.categoryIcon {
  object-fit: contain;
  width: 24px;
  height: 24px;
}
